---
layout: default
---
<div class="flex three">
{% for demo in site.demos %}
    {% capture category_url %}/categories/{{ demo.category }}{% endcapture %}
    {% if category_url == page.url %}
    <div>
        <article class="card">
        {% if demo.card_picture %}
            {% picture "{{ demo.card_picture }}" 1:1 entropy %}
        {% endif %}
            <footer>
                <h3><a href="{{ demo.url | relative_url }}">{{ demo.title }}</a></h3>
            </footer>
        </article>
    </div>
    {% endif %}
{% endfor %}
</div>
